{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Guitar Note Tuner</title>
	<link
		href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAEf8AzP8AAABI/wAA/wAA/4QAAADV/wD/AFEAjAD/AAD/8gAAN/8A6gD/AAAAAAAAAAAAAAAAAAAAAAAAAAAAEiIiIiIiIiIVVVVWZVVVUBUzM1ZlMzNQFTZjVmU2Y1AVNmNWZTZjUBUzM1ZlMzNQFVVVVmVVVVAYiIiGaqqqoBMzMzMzMzMwEzMzMzMzMzAXd3eGand3cBd3d4Zqd3dwF3d3hmp3d3kXd3eGand3cBd3d4Zqd3dwREREREREREQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
		rel="icon" type="image/x-icon" />

</head>

<body>
	<!-- <audio src="" id=="audio" controls></audio> -->
	<div class="container">
		<h1>Guitar Tunining Tool</h1>
		<ol>
			<h4>Tune the following notes</h4>
			{% for note in notes %}
				<li><a href="/record/1/{{ note }}/">{{ note.upper }}</a></li>
			{% endfor %}
		</ol>
	</div>

</body>

</html>