{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Guitar Sample Tuner</title>

	<link
		href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAEf8AzP8AAABI/wAA/wAA/4QAAADV/wD/AFEAjAD/AAD/8gAAN/8A6gD/AAAAAAAAAAAAAAAAAAAAAAAAAAAAEiIiIiIiIiIVVVVWZVVVUBUzM1ZlMzNQFTZjVmU2Y1AVNmNWZTZjUBUzM1ZlMzNQFVVVVmVVVVAYiIiGaqqqoBMzMzMzMzMwEzMzMzMzMzAXd3eGand3cBd3d4Zqd3dwF3d3hmp3d3kXd3eGand3cBd3d4Zqd3dwREREREREREQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
		rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'audio_sample_recognizer/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'audio_sample_recognizer/css/record.css' %}">

</head>

<body>

	<!-- <audio src="" id=="audio" controls></audio> -->
	<div class="container" id="container">
		<a href="/"><h1>Guitar Tunining Tool</h1></a>
		<div class="row" id="row">
			<div class="audio-sample-label-outer">
                <a href="/record/1/{{ audio_sample_label }}/#recording" onclick="run_analysis()">
                    <div class="audio-sample-label">
                        {{ audio_sample_label.upper }}
                    </div>
                </a>
            </div>
		</div>

		<h1 id="result">Click the circle and play the Note!</h1>
	</div>

    <form id="form">
        {% csrf_token %}
    </form>

	<!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
	<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
	<script src='{% static "audio_sample_recognizer/js/record.js" %}'></script>
</body>

</html>